# Compiled class files
*.class

# Logs
*.log

# Package archives
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Spring Boot
HELP.md
target/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

application-local.properties

# OS files
.DS_Store
Thumbs.db
Desktop.ini
